.contactSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.contactMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #DDDDDD;
    border-radius: 10px;
    width: 300px;
    padding: 15px;
}

.contactRowOne, .contactRowTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    align-items: center;
}

.contactMessage {
    font-family: 'Open Sans', sans-serif;
}

.icons {
    color: #E44F26;
}

.icons:hover {
    color: #0C3FB8;
}

.firstIcon {
    margin-right: 50px;
}

@media screen and (min-width: 700px){
    .contactSection {
        margin-top: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 2.5em;
    }
    .pageSubheading {
        font-size: 45px;
    }
    .contactMenu {
        width: 100%;
        padding: 25px;
    }
    .contactMessage {
        font-size: 30px;
    }
    .icons {
        font-size: 200px;
    }
}

@media screen and (min-width: 1000px) {
    .contactSection{
        margin-top: 75px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: fit-content;
        line-height: 1em;
    }
    .pageSubheading {
        font-size: 40px;
    }
    .contactMenu {
        width: 100%;
        padding: 25px;
    }
    .contactMessage {
        font-size: 25px;
    }
    .icons {
        font-size: 150px;
    }
}


@media screen and (min-width: 1500px) {
    .contactSection{
        margin-top: 75px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: fit-content;
        line-height: 1em;
    }
    .pageSubheading {
        font-size: 35px;
    }
    .contactMenu {
        width: 100%;
        padding: 25px;
    }
    .contactMessage {
        font-size: 20px;
    }
    .icons {
        font-size: 150px;
    }
}