@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery {
    border-style: groove;
    border-color: black;
    border-width: 2px;
    margin-bottom: 15px;
}

.projectDescription {
    text-align: left;
    line-height: 1.5em;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.languageIcon {
   margin: 30px;
   font-size: 40px;
}

.postgresIcon {
    height: 35px;
    width: 35px;
}

.nodeIcon {
    color: darkgreen;
}

.reactIcon {
    color: rgb(3, 130, 133);
}

.htmlIcon {
    color: #E44F26;
}

.cssIcon {
    color: #032940;
}

.projectLinks {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.projectLink {
    color: #E44F26;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 20px;
}

.projectLink:hover {
    color: #0C3FB8;
    text-decoration: underline;
}

@media screen and (min-width: 1000px){
    .image-gallery {
        width: 85%;
    }
    .projectDescription {
        width: 85%;
        font-size: 20px;
    }
    .languageIcon {
        font-size: 50px;
     }
     
     .postgresIcon {
         height: 45px;
         width: 45px;
     }
     .projectLink {
         font-size: 25px;
     }
}

@media screen and (min-width: 1500px) {
    .projectSingle {
        width: 75%;
    }
    .image-gallery {
        width: 85%;
    }
    .projectDescription {
        width: 85%;
        font-size: 18px;
    }
    .languageIcon {
        font-size: 50px;
     }
     
     .postgresIcon {
         height: 45px;
         width: 45px;
     }
     .projectLink {
         font-size: 20px;
     }
}